{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="containerLogin">
        <h1 class="greenTitle">Connexion !</h1>
        <p>Pas encore de compte ? <a href="/register"><span class="greenTitle">Inscrivez-vous</span></a></p>
        <div class="formContainer">
            <p class="inputTitle">Mail</p>
            <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control inputForm" autocomplete="username" required autofocus>
            <p class="inputTitle">Password</p>
            <input type="password" name="password" id="inputPassword" class="form-control inputForm" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="caseCoche">
                <label>
                    <input type="checkbox" name="_remember_me"> Se rappeler de moi
                </label>
            </div>
            {% if error %}
                <div class="erreurMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="btnContainer">
            <button class="btnSubmit" type="submit">Se connecter</button>      
        </div>
    </div>
</form>
{% endblock %}
