{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="containerInscription">
    <h1>S'inscrire</h1>
    {{ form_errors(registrationForm) }}

    <div class="formContainer">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.mail, {
            attr: {'class': 'mailInput'}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
   