{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% set allValuesNull = app.user.intitulePoste is empty and app.user.localisationJob is empty and app.user.typeContrat is empty and app.user.teletravail is empty and app.user.nivExperience is empty and app.user.detailJob is empty %}
{% set allValuesFilled = app.user.intitulePoste is not empty and app.user.localisationJob is not empty and app.user.typeContrat is not empty and app.user.teletravail is not empty and app.user.nivExperience is not empty and app.user.detailJob is not empty %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}

{% block body %}
    <div class="containerProfil">
        <div class="row">
            <div class="left">
                <div class="containerStatut allContainer">
                    <h2 class="title">Mon statut</h2>
                    <div class="statut">
                    {{ form_start(formIsActif) }}
                        {{ form_widget(formIsActif) }}
                        <button type="submit" class="btn btn-success" style="display:none;">Sauvegarder</button>
                    {{ form_end(formIsActif) }}
                    </div>
                    <p class="description">Faites savoir aux recruteurs s'ils peuvent vous contacter.</p>
                </div>
                <div class="containerSuivi allContainer">
                    <h2 class="title">Suivi candidature</h2>
                    <p class="description">Suivre en direct vos candidatures déjà envoyé.</p>
                    <button class="btnSuivi">Voir mes candidatures</button>
                </div>
            </div>
            <div class="right allContainer">
                <div class="infoPerso">
                    <div class="containerTop">
                        <h2 class="title">Informations personnelles</h2>
                        <div class="statutCompletion 
                            {% if demandeur.nom is not null and demandeur.prenom is not null and demandeur.mail is not null and demandeur.telephone is not null and demandeur.ville is not null and demandeur.dateDeNaissance is not null and demandeur.genre is not null %}
                                complete
                            {% elseif demandeur.nom is null and demandeur.prenom is null and demandeur.mail is null and demandeur.telephone is null and demandeur.ville is null and demandeur.date_de_naissance is null and demandeur.genre is null %}
                                toComplete
                            {% else %}
                                nearComplete
                            {% endif %}">
                            {% if demandeur.nom is not null and demandeur.prenom is not null and demandeur.mail is not null and demandeur.telephone is not null and demandeur.ville is not null and demandeur.dateDeNaissance is not null and demandeur.genre is not null %}
                                Complété
                            {% elseif demandeur.nom is null and demandeur.prenom is null and demandeur.mail is null and demandeur.telephone is null and demandeur.ville is null and demandeur.date_de_naissance is null and demandeur.genre is null %}
                                A compléter
                            {% else %}
                                Presque complet
                            {% endif %}
                        </div>
                    </div>
                    <p class="description">Permettez aux recruteurs de vous contacter.</p>
                    <div class="containerForm">
                        <div>
                            <label for="nom" class="labelForm">Nom</label>
                            <input type="text" id="nom" name="nom" class="inputForm" placeholder="Non renseigné" value="{{ app.user.nom is defined ? app.user.nom|title : '' }}" disabled>
                        </div>
                        <div>
                            <label for="prenom" class="labelForm">Prénom</label>
                            <input type="text" id="prenom" name="prenom" class="inputForm" placeholder="Non renseigné" value="{{ app.user.prenom is defined ? app.user.prenom|title : '' }}" disabled>
                        </div>
                        <div>
                            <label for="email" class="labelForm">Email</label>
                            <input type="text" id="email" name="email" class="inputForm" placeholder="Non renseigné" value="{{ app.user.mail is defined ? app.user.mail : '' }}" disabled>
                        </div>
                        <div>
                            <label for="tel" class="labelForm">Téléphone</label>
                            <input type="text" id="tel" name="tel" class="inputForm" placeholder="Non renseigné" value="{{ app.user.telephone is defined ? app.user.telephone : '' }}" disabled>
                        </div>
                        <div>
                            <label for="ville" class="labelForm">Ville</label>
                            <input type="text" id="ville" name="ville" class="inputForm" placeholder="Non renseigné" value="{{ app.user.ville is defined ? app.user.ville : '' }}">
                        </div>
                        <div>
                            {{ form_label(formPersonnelle.date_de_naissance, 'Date de naissance', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formPersonnelle.date_de_naissance, {'attr': {'class': 'form-control', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <div>
                            {{ form_label(formPersonnelle.genre, 'Genre', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formPersonnelle.genre, {'attr': {'class': 'custom-select-form', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <button class="btnModifier">Modifier le profil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row2"> 
            <div class="left">
                <div class="containerimg">
                    <img src="{{ asset('img/profil/profilSVG.svg') }}" alt="Design de décoration">
                </div>
            </div>
            <div class="right allContainer">
                <div class="searchedJob">
                    <div class="containerTop">
                        <h2 class="title">Job recherché</h2>
                        <div class="statutCompletion 
                            {% if allValuesFilled %}
                                complete
                            {% elseif allValuesNull %}
                                toComplete
                            {% else %}
                                nearComplete
                            {% endif %}">
                            {% if allValuesFilled %}
                                Complété
                            {% elseif allValuesNull %}
                                A compléter
                            {% else %}
                                Presque complet
                            {% endif %}
                        </div>
                    </div>
                    <p class="description">Dites-en plus aux recruteurs sur le job que vous recherchez.</p>
                    <div class="containerForm">
                        {{ form_start(formJobDetails, {'attr': {'class': 'formJobDetails'}}) }}
                        
                        <div>
                            {{ form_label(formJobDetails.intitulePoste, 'Intitulé de poste', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formJobDetails.intitulePoste, {'attr': {'class': 'inputForm', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <div>
                            {{ form_label(formJobDetails.localisationJob, 'Localisation', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formJobDetails.localisationJob, {'attr': {'class': 'inputForm', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <div>
                            {{ form_label(formJobDetails.typeContrat, 'Type de contrat', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formJobDetails.typeContrat, {'attr': {'class': 'custom-select-form', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <div>
                            {{ form_label(formJobDetails.teletravail, 'Télétravail', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formJobDetails.teletravail, {'attr': {'class': 'custom-select-form', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <div>
                            {{ form_label(formJobDetails.nivExperience, 'Niveau d\'expérience', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formJobDetails.nivExperience, {'attr': {'class': 'custom-select-form', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        <div>
                            {{ form_label(formJobDetails.detailJob, 'Exprimez librement ce que vous cherchez', {'label_attr': {'class': 'labelForm'}}) }}
                            {{ form_widget(formJobDetails.detailJob, {'attr': {'class': 'textareaForm', 'placeholder': 'Non renseigné'}}) }}
                        </div>
                        
                        <button type="submit" class="btnModifier">Modifier le profil</button>
                        {{ form_end(formJobDetails) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row3">
            <div class="left">
                <div class="containerimg">
                    <img src="{{ asset('img/profil/profilSVG.svg') }}" alt="Design de décoration">
                </div>
            </div>
            <div class="right allContainer">
                <div class="containerTop">
                    <h2 class="title">Expériences</h2>
                    <div class="statutCompletion {{ app.user.experience ? 'complete' : 'toComplete' }}">
                        {{ app.user.experience ? 'Complété' : 'A compléter' }}
                    </div>
                </div>
                <p class="description">Parlez-nous de vos expériences passées et actuelles, de vos projets</p>
                {{ form_start(formExperiences) }}
                {{ form_widget(formExperiences) }}
                <button type="submit" class="btnAjouter">Ajouter</button>
                {{ form_end(formExperiences) }}
            </div>
        </div>
        <div class="row4">
            <div class="left">
                <div class="containerimg">
                    <img src="{{ asset('img/profil/profilSVG.svg') }}" alt="Design de décoration">
                </div>
            </div>
            <div class="right allContainer">
                <div class="containerTop">
                    <h2 class="title">Compétences & expertises</h2>
                    <div class="statutCompletion {{ app.user.competences ? 'complete' : 'toComplete' }}">
                        {{ app.user.competences ? 'Complété' : 'A compléter' }}
                    </div>
                </div>
                <p class="description">Parlez-nous de vos expériences passées et actuelles, de vos projets</p>
                {{ form_start(formCompetences) }}
                {{ form_widget(formCompetences) }}
                <button type="submit" class="btnAjouter">Ajouter</button>
                {{ form_end(formCompetences) }}
            </div>
        </div>
        <div class="row5">
            <div class="left">
                <div class="containerimg">
                    <img src="{{ asset('img/profil/profilSVG.svg') }}" alt="Design de décoration">
                </div>
            </div>
            <div class="right allContainer">
                <div class="containerTop">
                    <h2 class="title">Diplômes &amp; formations</h2>
                    <div class="statutCompletion {{ app.user.diplomes ? 'complete' : 'toComplete' }}">
                        {{ app.user.diplomes ? 'Complété' : 'A compléter' }}
                    </div>
                </div>
                <p class="description">Listez vos diplômes, formations et certifications pertinents.</p>
                {{ form_start(formDiplomes) }}
                {{ form_widget(formDiplomes) }}
                <button type="submit" class="btnAjouter">Ajouter</button>
                {{ form_end(formDiplomes) }}
            </div>
        </div>
        <div class="row6">
            <div class="left">
                <div class="containerimg">
                    <img src="{{ asset('img/profil/profilSVG.svg') }}" alt="Design de décoration">
                </div>
            </div>
            <div class="right allContainer">
                <div class="containerTop">
                    <h2 class="title">Autres ressources</h2>
                    <div class="statutCompletion 
                        {% if demandeur.cv is not null and demandeur.website is not null and demandeur.linkedinProfile is not null %}
                            complete
                        {% elseif demandeur.cv is null and (demandeur.website is null or demandeur.cv.website == '') and (demandeur.linkedinProfile is null or demandeur.linkedinProfile == '') %}
                            toComplete
                        {% else %}
                            nearComplete
                        {% endif %}">
                        {% if demandeur.cv is not null and demandeur.website is not null and demandeur.linkedinProfile is not null %}
                            Complété
                        {% elseif demandeur.cv is null and (demandeur.website is null or demandeur.website == '') and (demandeur.linkedinProfile is null or demandeur.linkedinProfile == '') %}
                            A compléter
                        {% else %}
                            Presque complet
                        {% endif %}
                    </div>
                </div>
                <p class="description">AJoutez des fichiers et des liens pour soutenir et accéleré vos candidatures</p>
                <div class="containerForm">
                    {{ form_start(formCvDemandeur) }}

                    {% if demandeur.cv is not null %}
                        <div style="align-items: center;">
                            <p style="width: 80%; ">Votre CV actuel : </p>
                            <a style="padding-left: 20px;" href="{{ asset('uploads/cvs/' ~ demandeur.cv.chemin) }}" target="_blank">Actuel</a>
                            <label for="cv_demandeur_cvFile" class="labelChange">Changer<img class="svgUpload" src="{{ asset('img/profil/upload.svg') }}" alt="Changer de CV"></label>
                            {{ form_widget(formCvDemandeur.cvFile, {'attr': {'class': 'fileInput'}}) }}
                        </div>
                    {% else %}
                        <div>
                            <label for="cvFile" class="labelForm">CV</label>
                            {{ form_widget(formCvDemandeur.cvFile, {'attr': {'class': 'fileInput'}}) }}
                        </div>
                    {% endif %}


                    <div>
                        <label for="linkedinProfile" class="labelForm">LinkedIn</label>
                        {{ form_widget(formCvDemandeur.linkedinProfile, {'attr': {'class': 'inputForm', 'placeholder': 'Non renseigné'}}) }}
                    </div>

                    <div>
                        <label for="website" class="labelForm">Site internet</label>
                        {{ form_widget(formCvDemandeur.website, {'attr': {'class': 'inputForm', 'placeholder': 'Non renseigné'}}) }}
                    </div>

                    <button class="btnAjouter">Ajouter</button>
                    
                    {{ form_end(formCvDemandeur) }}
            </div>
        </div>
    </div>
    <script>
    // Code javascript pour changer une valeur en BDD sans forcer l'utilisateur à cliquer sur un bouton submit
        document.addEventListener('DOMContentLoaded', function() {
            const selectField = document.querySelector('#is_actif_actif');
            selectField.addEventListener('change', function() {
                this.form.submit();
            });
        });
    </script>
{% endblock %}
