{% extends 'base.html.twig' %}

{% block title %}Connexion recruteur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<form method="post">
    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <div class="containerLogin">
        <h1 class="greenTitle">Connexion entreprise !</h1>
        <p>Pas encore de compte ? <a href="{{ path('recruteur_inscription') }}"><span class="greenTitle">Inscrivez-vous</span></a></p>
        <p>Vous êtes un chercheur d'emploi ? <a href="/login"><span class="greenTitle">Allez ici !</span></a></p>

        <div class="formContainer">
            <p class="inputTitle">Adresse email</p>
            <input type="text" value="{{ last_username | default('') }}" name="email" id="inputEmail" class="form-control inputForm" autocomplete="username" required autofocus>
            <p class="inputTitle">Mot de passe</p>
            <input type="password" name="password" id="inputPassword" class="form-control inputForm" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="caseCoche">
                <label>
                    <input type="checkbox" name="_remember_me"> Se rappeler de moi
                </label>
            </div>
            {% if error %}
                <div class="erreurMessage">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="btnContainer">
                <button class="btnSubmit" type="submit">Se connecter</button>      
            </div>
        </div>
    </div>
</form>
{% endblock %}
