{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="headerImg"></div>

<div class="containerMondeTravail">
    <div class="containerTop">
        <div class="containerTitle">
            <h1 class="title">Les actualités de la<br><span class="greenTitle">semaine.</span></h1>
        </div>
        <div class="containerSvg">
            <img src="{{ asset('img/blog/svgActualite.svg') }}" alt="">
        </div>
    </div>
    <div class="containerBlog">
        <div class="containerArticle">
            <div class="divImgContainer"></div>
            <div class="descriptionContainer">
                <div class="textCard">
                    <p class="descriptionCard">Critiquer son entreprise sur les réseaux sociaux, est-ce une faute grave ?</p>
                </div>
                <div class="arrowBtnContainer">
                    <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                </div>
            </div>
        </div>

        <div class="containerArticle">
            <div class="divImgContainer2"></div>
            <div class="descriptionContainer">
                <div class="textCard">
                    <p class="descriptionCard">Êtes-vous trop cash au travail ? Faites le test !</p>
                </div>
                <div class="arrowBtnContainer">
                    <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                </div>
            </div>
        </div>

        <div class="containerArticle">
            <div class="divImgContainer3"></div>
            <div class="descriptionContainer">
                <div class="textCard">
                    <p class="descriptionCard">Travail : ce qu'il faut retenir du discours de politique général de Gabriel Attal</p>
                </div>
                <div class="arrowBtnContainer">
                    <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                </div>
            </div>
        </div>
    </div>

    <a href="" class="btnVoirActualites">Voir les actualités</a>
</div>

<div class="searchBlog">
    <div class="row">
        <div class="left">
            <div class="inputContainer" style="margin-right: 0px !important;">
                    <img src="{{ asset('img/blog/searchSvg.svg') }}" alt="">
                    <input class="inputRecherche" type="text" name="" id="" placeholder="Rechercher">
            </div>
            <div class="btnFiltreContainer">
                <button class="btnFiltre">Filtres</button>
            </div>
        </div>
        <div class="right">
            <h1>Les articles des<br> <span class="greenTitle">professionels.</span></h1>
        </div>
    </div>
</div>

<div class="containerBlogs">
    <div class="containerCard">
        <div class="left">
            <div class="imgContainer"></div>
        </div>
        <div class="right">
            <div class="textContainer">
                <h3 class="titleCard">Témoignage de Claude sur MDM Emploi</h3>
                <p class="descriptionCard">Découvrez les démarches pour obtenir la reconnaissance de la qualité de travailleur handicapé (RQTH), les critères d'éligibilité et les avantages qui y sont associés.</p>
                <div class="bottomContainer">
                    <div class="containerDate">
                        <p>Publié par Sophie Morrel le 21/04/2024</p>
                    </div>
                    <div class="btnContainer">
                        <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containerCard">
        <div class="left">
            <div class="imgContainer"></div>
        </div>
        <div class="right">
            <div class="textContainer">
                <h3 class="titleCard">Quels sont les aides au logement pour les personnes handicapées</h3>
                <p class="descriptionCard">Explorez les différentes aides au logement disponibles pour les personnes handicapées, incluant les subventions pour aménagement et les aides au loyer.</p>
                <div class="bottomContainer">
                    <div class="containerDate">
                        <p>Publié par Sophie Morrel le 21/04/2024</p>
                    </div>
                    <div class="btnContainer">
                        <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containerCard">
        <div class="left">
            <div class="imgContainer"></div>
        </div>
        <div class="right">
            <div class="textContainer">
                <h3 class="titleCard">Je suis reconnu travailleur handicapé : quels-sont mes droits ?</h3>
                <p class="descriptionCard">Informez-vous sur vos droits en tant que travailleur handicapé, y compris les aménagements de poste, les aides financières et les protections légales.</p>
                <div class="bottomContainer">
                    <div class="containerDate">
                        <p>Publié par Sophie Morrel le 21/04/2024</p>
                    </div>
                    <div class="btnContainer">
                        <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containerCard">
        <div class="left">
            <div class="imgContainer"></div>
        </div>
        <div class="right">
            <div class="textContainer">
                <h3 class="titleCard">Prendre soin de votre santé mentale au travail</h3>
                <p class="descriptionCard">Critiquer son entreprise sur les réseaux sociaux, est-ce une faute grave ?</p>
                <div class="bottomContainer">
                    <div class="containerDate">
                        <p>Publié par Sophie Morrel le 21/04/2024</p>
                    </div>
                    <div class="btnContainer">
                        <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containerCard">
        <div class="left">
            <div class="imgContainer"></div>
        </div>
        <div class="right">
            <div class="textContainer">
                <h3 class="titleCard">Comment obtenir la reconnaissance de travailleur handicapé ?</h3>
                <p class="descriptionCard">Critiquer son entreprise sur les réseaux sociaux, est-ce une faute grave ?</p>
                <div class="bottomContainer">
                    <div class="containerDate">
                        <p>Publié par Sophie Morrel le 21/04/2024</p>
                    </div>
                    <div class="btnContainer">
                        <button class="btnArrow"><img class="imgBtnArrow" src="{{ asset('img/home/arrowSVG.svg') }}" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
