<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MDM Emploi ! - {% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
     
    <body>
        <nav>
            <div class="containerNav">
                <ul class="navbar">
                    <li><a class="linkNav" href="/recruteur/dashboard"><img src="{{ asset('img/MDMrecruteur.svg') }}" alt="Logo MDM Emploi"></a></li>
                    <li><a class="linkNav" href="/recruteur/dashboard">Tableau de bord</a></li>
                    <li><a class="linkNav" href="/recruteur/contact">Contact</a></li>
                    {% if not app.user %}
                        <li><a class="linkNav" href="/recruteur/connexion">Accès recruteur</a></li>
                    {% endif %}
                    <img src="{{ asset('img/navSeparator.svg') }}" alt="Trait de séparation">
                    {% if app.user %}
                        <li><a class="linkNav" href="/recruteur/profil">Mon compte</a></li>
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a class="linkNav" href="/login">Login</a></li>
                    {% endif %}

                    <li><a class="linkNav btnCtaNav" href="/recruteur/annonce">Poster une annonce</a></li>
                </ul>      
            </div>
        </nav>
        
        <div class="containerAccesibility">
            <button class="btnAccesibility"><img src="{{ asset('img/accessibilityBtn.svg') }}" alt="Bouton accessibilité"></button>
        </div>
            {% block body %}{% endblock %}
            {% if app.request.pathinfo != '/recruteur/dashboard' %}
                <div class="pathContainer">
                    <a href="/recruteur/dashboard" class="pathText">Dashboard ></a>
                    <strong>{{ app.request.pathinfo | split('/') | last | capitalize }}</strong>
                </div>
            {% endif %}



        <footer>
            <div class="containerFooter">
                <div class="leftFooter">
                    <div class="btnLogin">
                    {% if not app.user %}
                        <a class="btnLoginFooter">Login</a>
                    {% else %}
                        <a href="/logout" class="btnLoginFooter">Déconnexion</a>

                    {% endif %}
                    </div>
                    <div class="btnFindJob">
                        <a href="recruteur/annonce" class="btnFindJobFooter">Poster une annonce</a>
                    </div>
                </div>
                <div class="rightFooter">
                    <div class="leftLink">
                        <ul class="footerLinks">
                        <h3>A propos</h3>
                            <li><a href="/">Politique de confidentialité</a></li>
                            <li><a href="/">Conditions d'utilisation</a></li>
                            <li><a href="/contact">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <div class="rightLink">
                        <ul class="footerLinks">
                        <h3>A propos</h3>
                            <li><a href="/">Politique de confidentialité</a></li>
                            <li><a href="/">Conditions d'utilisation</a></li>
                            <li><a href="/">Contactez-nous</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="bottomFooter">
                <div class="bottomFooterLeft">
                    <p>2024 MDM Emploi</p>
                </div>
                <div class="bottomFooterRight">
                    <div class="LinkedIn"><a href="#">LinkedIn</a></div>
                    <div class="Instagram"><a href="#">Instagram</a></div>
                </div>
            </div>
        </footer>
    </body>
</html>
